<div id="footer">
  <div class="footer-container">
    <p>
      LEGO System A/S, DK-7190 Billund, Denmark. Must be 18 years or older to
      purchase online. LEGO and the LEGO logo are trademarks of the LEGO Group.
      ©2023 The LEGO Group. All rights reserved. Use of this site signifies your
      agreement to the terms of use.
    </p>

    <div class="app-download-links">
      <img src="/assets/googleplay.png" id="google-play" />
      <img src="/assets/appstore.png" id="app-store" />
    </div>
  </div>
</div>
