<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/styles/left-index.css" />
<link rel="stylesheet" href="/styles/right-index.css" />
<title>BlockyLand | <%= page_name %></title>
<script src="/scripts/registration-btns.js" defer></script>

<!-- Icons -->
<script
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
  defer
></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
  defer
></script>
