<div class="page-selection">
  <a href="#" class="arrows prev-page">
    <span class="icon"><ion-icon name="chevron-back-outline"></ion-icon></span>
  </a>

  <ul class="page-list">
    <!-- Change later to dynamic syntax -->
    <a href="#"><li class="page">1</li></a>
    <a href="#"><li class="page">2</li></a>
    <a href="#"><li class="page">3</li></a>
    <li class="page">...</li>
    <a href="#"><li class="page">12</li></a>
  </ul>

  <a href="#" class="arrows next-page">
    <span class="icon"
      ><ion-icon name="chevron-forward-outline"></ion-icon
    ></span>
  </a>
</div>
