<!-- Item from the index.ejs -->
<button class="choose" data-item_id="<%= item.id %>">
  <div class="image-container">
    <img src="<%= item.image %>" alt="<%= item.item_name %>" class="image" />
    <div class="caption"><%= item.item_name %></div>
  </div>
</button>
